@use "../foundation" as foundation;

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(10px);
}

.l-header__inner {
  margin: 0 40px;
  padding: 35px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @include foundation.mq-max(smmd) {
    margin: 0 16px;
    padding: 24px 8px;
  }

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
