@use "../../foundation" as foundation;

.p-about {
  flex: 1;
}

.p-about__en {
  font-size: foundation.rem(105);
  font-weight: 400;

  @include foundation.mq-max(smmd) {
    font-size: foundation.rem(40);
  }
}

.p-about__label {
  font-size: foundation.rem(16);
  font-weight: 400;
  color: #767676;
  padding-top: 1rem;

  @include foundation.mq-max(smmd) {
    font-size: foundation.rem(14);
  }
}

.p-about__list {
  margin-top: 3em;
}

.p-about__item {
  padding: 1em;
  border-bottom: 1px solid;
}

.p-about__text {
  line-height: 2;
  padding-bottom: 1em;

  @include foundation.mq-max(smmd) {
    font-size: foundation.rem(14);
  }
}